.html{margin: 0;padding:0;height:100%;width: 100vw;}
body{
    background-image: url(bg.jpg);
    background-size: 100vw 100%;
    height:100%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
.video{
    background: rgba(49, 49, 49, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 300px;
    height: 300px;
    padding: 1em;
    padding-top: 1em;
    margin: auto;
    border-radius: 10px;
}
.exp{
    width: 80vw;
    margin: auto;
    padding: 1em;
    padding-top:0.1em;
    background: rgba(49, 49, 49, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.exp h1{text-align: center;}
@media (min-width:600px){
    .exp{width: 400px;}
}